<div class="container">
	<div class="mdl-grid">
		<input class="form-control" type="text" id="search" ng-model="search" placeholder="Search" />
	</div>

	<button ng-click="main.order = 'text'" class="btn btn-default">Order by text</button>
	<button ng-click="main.order = 'value'" class="btn btn-default">Order by value</button>

	<ul class="list-group">
		<li ng-repeat="task in main.list | orderBy: main.order | filter: search" class="list-group-item slideIn" ng-hide="task.completed">
			{{task.text}} - {{task.value | currency: 'R$'}}
			<button ng-click="main.removeTask(task)">remove</button>
		</li>
	</ul>

	<button ng-click="main.removeAllTasks()" class="btn btn-danger">Remove all</button>

	<form name="taskForm" ng-submit="main.addTask(newTask)" novalidate>
		<input type="text" name="text" ng-model="newTask.text" class="form-control" ng-required="true" />
		<p ng-show="taskForm.text.$invalid && taskForm.text.$touched">You must to type a valid name</p>
		<input type="number" name="value" ng-model="newTask.value" class="form-control" ng-required="true" />
		<p ng-show="taskForm.value.$invalid && taskForm.value.$touched">You must to type a valid value</p>
		<button type="submit" class="btn btn-default" ng-disabled="taskForm.$invalid">send</button>
	</form>
</div>